{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h4>what is</h4>
  <h1 class="display-1" style="color: #4c65f0">GDPR</h1>
  <p>Everything you need to know about General Data Protection Regulation</p>
  <img
    src="\static\images\GDPR\gdpr-firstimg.png"
    style="width: 40%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>What is GDPR?</h2>
    <p class="lead">
      The GDPR is the result of the EU's comprehensive data protection reform.
      The strict privacy standards went into effect on May 25, 2018, to protect
      individuals' rights. This cybersecurity framework aims to protect all
      people's personal data in the European Union and complements other EU
      regulations such as the Digital Operational Resilience Act (DORA).
    </p>
    <p>
      The GDPR modernizes the 1950 European Convention on Human Rights for the
      digital era. Article 8 of the convention guarantees everyone's right to
      privacy in family life. The distinction between public and private life
      was clear in the analog era, but it is often unclear now. Customers cannot
      be confident that their private data, and thus their private lives, are
      being respected in the absence of a clear and enforced standard such as
      the GDPR.
    </p>
    <hr />
    <h2>Who Does the GDPR Apply To?</h2>
    <p>
      The GDPR applies to any organization that provides goods and services to
      people in the EU. This includes entities not based in the EU. If you run
      an online business, you never know for sure whether the customers you deal
      with are in the EU. As a result, all online businesses should become
      GDPR-compliant as a precaution. Personal data is divided into two
      categories: controllers and processors.
    </p>
    <h4>Data Controllers</h4>
    <p>
      According to the GDPR, a controller is any individual, public authority,
      agency, or other body that determines the purpose and processing of
      personal data. Controllers determine how personal data is processed. For
      example, a music school uses a digital screen to alert parents in the
      waiting room when each teacher is ready. The screen shows each child's
      name and the room number for their music lesson. The music school is
      designated as the "controller" of personal data because it determines how
      the notification system will process all of the data.
    </p>
    <h4>Data Processors</h4>
    <p>
      The GDPR defines processors as any individual or entity that processes
      personal data on behalf of a controller, without making decisions on data
      handling. For example, if a software company (the controller) hires a
      marketer (the processor) to send personalized emails using provided data,
      the software company sets the rules, and the marketer follows them.
      Despite following instructions, processors must still comply with GDPR
      since they handle personal data.
    </p>
    <hr />
    <h2>8 Key regulations of GDPR</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Regulation Point</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Data Protection Principles</td>
          <td>
            Process data lawfully, fairly, and transparently; for specified
            purposes; with data minimization; ensuring accuracy; limiting
            storage; maintaining security; and demonstrating compliance.
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Accountability</td>
          <td>
            Demonstrate compliance through detailed documentation, designated
            responsibilities, staff training, and contracts with data
            processors.
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Data Security</td>
          <td>
            Implement technical measures (e.g., encryption) and organizational
            measures (e.g., staff training) to protect data. Notify data
            subjects of breaches within 72 hours unless data is safeguarded.
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Data Protection by Design and Default</td>
          <td>
            Integrate data protection principles into the design of new products
            and processes.
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Lawful Data Processing</td>
          <td>
            Process data only with consent, for contractual obligations, legal
            requirements, vital interests, public tasks, or legitimate
            interests, with proper documentation and transparency.
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Consent</td>
          <td>
            Must be clear, specific, informed, and revocable. Consent for
            children under 13 requires parental permission.
          </td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Data Protection Officers (DPOs)</td>
          <td>
            Required for public authorities, large-scale monitoring, or
            processing of sensitive data. Optional but beneficial for all
            organizations.
          </td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Privacy Rights</td>
          <td>
            Individuals have rights to be informed, access, rectification,
            erasure, restriction, data portability, objection, and protection
            from automated decisions.
          </td>
        </tr>
      </tbody>
    </table>
    <h3>
      If you process data, you must adhere to the seven protection and
      accountability principles outlined in Article 5.1-2:
    </h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Principle</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Lawfulness, Fairness, and Transparency</td>
          <td>
            Processing must be lawful, fair, and transparent to the data
            subject.
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Purpose Limitation</td>
          <td>
            Data must be processed only for the legitimate purposes specified
            explicitly to the data subject when collected.
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Data Minimization</td>
          <td>
            Collect and process only the data that is absolutely necessary for
            the specified purposes.
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Accuracy</td>
          <td>Personal data must be accurate and kept up to date.</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Storage Limitation</td>
          <td>
            Personally identifying data may only be stored for as long as
            necessary to fulfill the specified purpose.
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Integrity and Confidentiality</td>
          <td>
            Processing must ensure appropriate security, integrity, and
            confidentiality, such as through encryption.
          </td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Accountability</td>
          <td>
            The data controller is responsible for demonstrating compliance with
            all of these principles.
          </td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px">
      <img src="static\images\GDPR\GDPR_7_data_prin.png" />
    </div>
    <div style="text-align: center; margin-top: 20px">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        For more detailed information, click here!
      </button>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <ul>
          <li>
            <a href="https://gdpr.eu/what-is-gdpr/"
              >https://gdpr.eu/what-is-gdpr/</a
            >
          </li>
          <li>
            <a href="https://termly.io/resources/articles/what-is-gdpr/"
              >https://termly.io/resources/articles/what-is-gdpr/</a
            >
          </li>
          <li>
            <a href="https://www.gdprsummary.com/gdpr-summary/"
              >https://www.gdprsummary.com/gdpr-summary/</a
            >
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <h2>Fines and Penalties of GDPR</h2>
    <div style="text-align: center">
      <img src="static\images\GDPR\GDPR_fines.png" style="width: 60%" />
    </div>
    <p class="lead">
      The GDPR imposes significant fines to ensure data protection compliance
      for businesses of all sizes. Under Article 83, fines are categorized into
      <strong>two tiers</strong> based on the severity of the infringement:
    </p>
    <ul>
      <li>
        <h3>Less Severe Violations</h3>
        <p>
          Fines can reach up to €10 million or 2% of the company’s global annual
          revenue, whichever is higher. This includes violations related to data
          controllers and processors, certification bodies, and monitoring
          bodies.
        </p>
      </li>
      <li>
        <h3>More Severe Violations</h3>
        <p>
          Fines can be as high as €20 million or 4% of the company’s global
          annual revenue, whichever is greater. This includes breaches of core
          GDPR principles, conditions for consent, data subjects' rights, and
          international data transfers. Additional fines may be imposed for
          violations of national laws or non-compliance with supervisory
          authority orders.
        </p>
      </li>
    </ul>
    <h3>Determining GDPR Fines</h3>
    <p>
      Fines are assessed by data protection regulators in each EU country using
      a range of criteria, including the gravity and nature of the violation,
      intention, mitigation efforts, and history of compliance. Regulators also
      consider factors such as data type, cooperation, and any aggravating or
      mitigating circumstances.
    </p>
    <h3>Responsibility for Data Controllers</h3>
    <p>
      Companies remain fully responsible for GDPR compliance even when using
      third-party services. They must ensure that third parties adhere to GDPR
      standards and can be held liable for any non-compliance.
    </p>
    <hr />
    <h2 style="text-align: center">
      Interested in seeing a checklist to achieve GDPR compliance?
    </h2>
    <div style="display: flex; justify-content: center">
      <a href="{{ url_for('GDPR_checklist') }}" style="margin-right: 10px">
        <button type="button" class="btn btn-primary btn-lg">Checklist</button>
      </a>
    </div>
  </div>
</div>

{% endblock %}
