{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h4>what is</h4>
  <h1 class="display-1" style="color: #4c65f0">SOC1</h1>
  <p>Everything you need to know about System and Organization Controls 1</p>
  <img
    src="\static\images\SOC1\soc1-firstimg.svg"
    style="width: 40%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h2>What is SOC1 reporting?</h2>
      <p class="lead">
        SOC is a framework developed by the
        <a href="https://www.aicpa-cima.com/home"
          >American Institute of Certified Public Accountants (AICPA)</a
        >
        to demonstrate that an organization adheres to best practices in
        business management, such as making sound financial and information
        security decisions. There are currently three types of SOC reports that
        provide different perspectives on how your business operates: SOC 1, SOC
        2, and SOC 3.
      </p>
      <p>
        These reports allow clients to assess the potential risk of working with
        you, which can influence their decision to hire you as a vendor. A SOC 1
        report, in particular, can verify the controls in place to reduce
        inaccurate financial reporting, which could have an impact on your
        customers' financials. It includes practices such as personnel policies,
        data manipulation prevention measures, and more.
      </p>
      <p>
        The audit report will examine service organization's internal controls
        over financial reporting (ICFR). These reports are intended to reassure
        users and auditors that the service organization's controls are
        appropriately designed and operating effectively to mitigate risks that
        may affect their clients' financial statements.
      </p>
      <hr />
      <h2>Two types of SOC1 reports</h2>
      <ul>
        <li>
          <strong>SOC 1 Type I Report:</strong>Describes the service
          organization's system and evaluates the suitability of the control
          design at a specific point in time. It provides an overview of the
          controls in place and assesses whether they are properly designed to
          achieve their goals.
        </li>
        <li>
          <strong>SOC 1 Type II Report:</strong> Contains the same information
          as a Type I report, but it also provides a detailed assessment of the
          operational effectiveness of the controls over a given time period. It
          assesses whether the controls were consistently applied and operated
          as intended throughout the review period.
        </li>
      </ul>
      <img
        src="\static\images\SOC1\soc-audit-type-1-vs-type-2.png"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 40%;
          height: auto;
        "
      />
      <div class="alert alert-primary" role="alert" style="margin-top: 50px">
        <h3>In summary:</h3>
        <p>
          <strong
            >A Type I SOC 1 report evaluates the design of controls at a
            specific point in time, while a Type II SOC 1 report assesses both
            the design and operating effectiveness of controls over a period,
            typically 12 months. Type II reports provide greater assurance than
            Type I, which are often used initially to identify and prioritize
            relevant controls for future evaluations.</strong
          >
        </p>
      </div>
      <hr />
      <h2>Who needs a SOC 1 report?</h2>
      <p>
        Service organizations that have an impact on their clients' financial
        reporting are required to submit a SOC 1 report. Usually, these groups
        consist of:
      </p>
      <ol>
        <li>
          <strong>Payroll Processors:</strong> Companies that manage payroll
          services for other businesses need to demonstrate the accuracy and
          reliability of their financial controls.
        </li>
        <li>
          <strong>Data Centers and IT Service Providers:</strong>Organizations
          that host or manage critical financial applications or data for their
          clients need to show that their systems are secure and that their
          controls are effective.
        </li>
        <li>
          <strong>Accounting and Financial Services Firms:</strong>Firms that
          provide outsourced accounting, bookkeeping, or financial services must
          ensure their clients that their internal controls over financial
          reporting are robust and reliable.
        </li>
        <li>
          <strong>Benefit Plan Administrators:</strong>Companies that administer
          employee benefit plans need to verify that they have proper controls
          in place to accurately manage and report on these plans.
        </li>
        <li>
          <strong>Insurance Claims Processors:</strong>Organizations that handle
          insurance claims processing need to demonstrate that their controls
          can accurately and securely manage financial transactions.
        </li>
        <li>
          <strong>Investment and Asset Management Firms:</strong> These firms
          must ensure that their controls over financial reporting are sound to
          protect their clients' investments and assets.
        </li>
      </ol>
      <hr />
      <h2>How much does it cost to conduct a SOC 1 audit?</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <p>
              A SOC 1 audit typically costs between $10,000 and $50,000, or
              more. The cost of your audit will be affected by several factors,
              including:
            </p>
            <ol>
              <li>Size of your organization</li>
              <li>
                The complexity of your internal organisation and practices
              </li>
              <li>Scope of your SOC 1 Compliance</li>
              <li>Where is your organization located?</li>
            </ol>
            <p>
              When you hire an auditor, they will be able to give you an
              estimated cost for your audit.
            </p>
          </div>
          <div class="col-md-6">
            <img
              src="/static/images/SOC1/soc1-cost.png"
              style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: auto;
              "
            />
          </div>
          <hr />
          <h2>Are SOC 1 reports mandatory?</h2>
          <p>
            SOC 1 is not a legal requirement for any organization, and you will
            not face fines or penalties if you do not have one. However, some
            clients will only work with vendors for specific services if they
            have a SOC 1 report. If your organization has an impact on your
            customers' financial reporting, you may be impeding your company's
            growth by failing to obtain a SOC 1.
          </p>
          <hr />
          <h2>How long is a SOC 1 report valid?</h2>
          <p>
            Once the audit is completed, your auditor will issue your SOC 1
            report. This report will remain valid for <strong>one year</strong>.
            To maintain SOC 1 compliance, you will need to undergo another
            audit; it is best to begin the process of obtaining your new report
            before your current one expires. These subsequent audits are
            typically easier than the initial audit because your SOC 1 controls
            are already in place and your team is familiar with the audit
            process.
          </p>
          <hr />
          <h2 style="text-align: center">
            Want to learn more about SOC1 and other related certifications?
          </h2>
          <div style="display: flex; justify-content: center">
            <div class="card mx-3" style="width: 18rem">
              <div class="card-header">Other SOC Certifications</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="#" class="card-link">SOC2</a>
                </li>
                <li class="list-group-item">
                  <a href="#" class="card-link">SOC3</a>
                </li>
                <li class="list-group-item">
                  <a href="#" class="card-link">Test</a>
                </li>
              </ul>
            </div>
            <div class="card mx-3" style="width: 18rem">
              <div class="card-header">Featured</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">SOC1 vs SOC2</li>
                <li class="list-group-item">SOC1 vs SOC3</li>
                <li class="list-group-item">SOC1 vs SOC2 vs SOC3</li>
              </ul>
            </div>
          </div>
          <hr />
          <h2 style="text-align: center">
            Interested in seeing a checklist to achieve SOC 1 compliance?
          </h2>
          <div style="display: flex; justify-content: center">
            <a
              href="{{ url_for('soc1_type1_checklist') }}"
              style="margin-right: 10px"
            >
              <button type="button" class="btn btn-primary btn-lg">
                Click here to see the SOC 1 Type 1 checklist
              </button>
            </a>
            <a href="{{ url_for('soc1_type2_checklist') }}">
              <button type="button" class="btn btn-primary btn-lg">
                Click here to see the SOC 1 Type 2 checklist
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
