{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h4>what is</h4>
  <h1 class="display-1" style="color: #4c65f0">SOC3</h1>
  <p>Everything you need to know about System and Organization Controls 3</p>
  <img
    src="static\images\SOC3\soc3_firstimg.png"
    style="width: 70%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h2>What is SOC3?</h2>
      <div style="text-align: center">
        <img src="static\images\SOC3\soc3_compliance.png" style="width: 50%" />
      </div>
      <p class="lead">
        SOC 3 (System and Organization Controls 3) reports are a set of criteria
        developed by the American Institute of CPAs (AICPA) to measure how well
        a service organization conducts and regulates its information. Unlike
        SOC 2, SOC 3 reports are designed for a general audience and are less
        detailed, making them suitable for public distribution. The criteria for
        managing customer data are based on five “trust service
        principles”—security, availability, processing integrity,
        confidentiality, and privacy.
      </p>
      <hr />
      <h2>Why do companies need SOC 3?</h2>
      <p>
        SOC 3 compliance is essential for service organizations that want to
        provide transparency to their customers and stakeholders about how they
        manage and protect data. SOC 3 reports demonstrate that a service
        provider adheres to high standards for data security and privacy, which
        can enhance trust and credibility.
      </p>
      <hr />
      <h2>What does SOC 3 do?</h2>
      <p>
        SOC 3 reports provide a high-level overview of the controls implemented
        by a service organization to meet the trust service principles. These
        reports are intended for a broad audience, including customers,
        partners, and the general public, and do not include the detailed
        testing and results found in SOC 2 reports.
      </p>
      <hr />
      <h2>What are the SOC 3 compliance criteria?</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Principle</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Security</td>
            <td>
              Information and systems are protected against unauthorized access
              (both physical and logical).
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Availability</td>
            <td>
              Information and systems are available for operation and use as
              committed or agreed.
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Processing Integrity</td>
            <td>
              System processing is complete, valid, accurate, timely, and
              authorized.
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Confidentiality</td>
            <td>
              Information designated as confidential is protected as committed
              or agreed.
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Privacy</td>
            <td>
              Personal information is collected, used, retained, disclosed, and
              disposed of in conformity with the commitments in the entity’s
              privacy notice.
            </td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-primary" role="alert" style="margin-top: 50px">
        <h3>In summary:</h3>
        <p>
          <strong>
            SOC 3 reports provide a summary of a service organization’s controls
            relevant to security, availability, processing integrity,
            confidentiality, and privacy. These reports are less detailed than
            SOC 2 reports and are intended for a broad audience to demonstrate
            the organization’s commitment to high standards of data
            protection.</strong
          >
        </p>
      </div>
      <hr />
      <h2>Who needs a SOC 3 report?</h2>
      <p>
        Service organizations that want to provide a high-level assurance about
        their data protection practices to a broad audience should consider
        obtaining a SOC 3 report. This includes:
      </p>
      <ol>
        <li>
          <strong>SaaS Providers:</strong> Companies offering
          software-as-a-service solutions.
        </li>
        <li>
          <strong>Data Centers and IT Service Providers:</strong> Organizations
          that host or manage critical financial applications or data for their
          clients need to show that their systems are secure and that their
          controls are effective.
        </li>
        <li>
          <strong>Cloud Computing Providers:</strong> Companies offering cloud
          infrastructure or platform services.
        </li>
        <li>
          <strong>Managed IT Services:</strong> Providers of managed IT
          services.
        </li>
        <li>
          <strong>Healthcare Services:</strong> Organizations handling sensitive
          patient data.
        </li>
        <li>
          <strong>Financial Services:</strong> Firms managing financial data.
        </li>
      </ol>
      <hr />
      <h2>How much does it cost to conduct a SOC 3 audit?</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <p>
              The cost of a SOC 3 audit can vary depending on several factors:
            </p>
            <ol>
              <li>Size of the company</li>
              <li>Complexity of the IT environment</li>
              <li>Risk profile</li>
              <li>Number of locations</li>
              <li>Audit period</li>
            </ol>
            <p>
              When you hire an auditor, they will be able to give you an
              estimated cost for your audit.
            </p>
          </div>
          <div class="col-md-6">
            <img
              src="static\images\SOC3\so3_cost.png"
              style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: auto;
              "
            />
          </div>
          <hr />
          <h2>Are SOC 3 reports mandatory?</h2>
          <p>
            SOC 3 reports are not legally required, but they are beneficial for
            demonstrating an organization’s commitment to data security and
            privacy. Many clients and partners may request a SOC 3 report as
            part of their vendor risk management process.
          </p>
          <hr />
          <h2>How long is a SOC 3 report valid?</h2>
          <p>
            SOC 3 reports are typically valid for
            <strong>12 months</strong> from the date of issuance. Organizations
            must undergo regular audits to maintain compliance and provide
            up-to-date assurances to clients and stakeholders.
          </p>
          <hr />
          <h2 style="text-align: center">
            Want to learn more about SOC 3 and other related certifications?
          </h2>
          <div
            style="display: flex; justify-content: center; margin-bottom: 30px"
          >
            <div class="card mx-3" style="width: 18rem">
              <div class="card-header">Other SOC Certifications</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="{{ url_for('soc1') }}" class="card-link">SOC1</a>
                </li>
                <li class="list-group-item">
                  <a href="{{ url_for('soc2') }}" class="card-link">SOC2</a>
                </li>
                <li class="list-group-item"></li>
              </ul>
            </div>
            <div class="card mx-3" style="width: 18rem">
              <div class="card-header">Featured</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="{{ url_for('comp_soc1_soc2') }}" class="card-link"
                    >SOC1 vs SOC2</a
                  >
                </li>
                <li class="list-group-item">SOC1 vs SOC3</li>
                <li class="list-group-item">SOC1 vs SOC2 vs SOC3</li>
              </ul>
            </div>
          </div>
          <hr />
          <h2 style="text-align: center">
            Interested in seeing a checklist to achieve SOC 3 compliance?
          </h2>
          <div style="display: flex; justify-content: center">
            <a
              href="{{ url_for('soc3_checklist') }}"
              style="margin-right: 10px"
            >
              <button type="button" class="btn btn-primary btn-lg">
                Checklist
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
