{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h4>what is</h4>
  <h1 class="display-1" style="color: #4c65f0">SOC2</h1>
  <p>Everything you need to know about System and Organization Controls 2</p>
  <img
    src="static\images\SOC2\soc2_firstimg.png"
    style="width: 70%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h2>What is SOC2 reporting?</h2>
      <div style="text-align: center">
        <img src="static\images\SOC2\what_is.png" style="width: 25%" />
      </div>
      <p class="lead">
        SOC 2 (System and Organization Controls 2) reports are a set of criteria
        developed by the American Institute of CPAs (AICPA) to measure how well
        a service organization conducts and regulates its information. The
        criteria for managing customer data are based on five “trust service
        principles”—security, availability, processing integrity,
        confidentiality, and privacy.
      </p>
      <hr />
      <h2>Why do companies need SOC 2?</h2>
      <p>
        SOC 2 compliance is critical for SaaS companies and other technology
        service providers that store customer data in the cloud. It is a way to
        ensure that service providers manage data securely to protect the
        interests of their organization and the privacy of their clients.
      </p>
      <hr />
      <h2>What does SOC 2 do?</h2>
      <p>
        SOC 2 reports are unique to each organization, unlike PCI DSS, which has
        very rigid requirements. Each company designs its own controls to comply
        with one or more of the trust service principles. These reports provide
        a detailed analysis of controls relevant to security, availability,
        processing integrity, confidentiality, and privacy.
      </p>
      <hr />
      <h2>What are the SOC 2 compliance levels?</h2>
      <ul>
        <li>
          <strong>SOC 2 Type I Report:</strong> Audit of the design of controls
          and report on the suitability of the design of controls at a specific
          point in time.
        </li>
        <li>
          <strong>SOC 2 Type II Report:</strong> Audit of the operational
          effectiveness of controls and report on the suitability of the design
          and operating effectiveness of controls over a period of time.
        </li>
      </ul>
      <img
        src="static\images\SOC2\soc2_type1_type2.jpg"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 40%;
          height: auto;
        "
      />
      <div class="alert alert-primary" role="alert" style="margin-top: 50px">
        <h3>In summary:</h3>
        <p>
          <strong
            >A SOC 2 Type 1 report evaluates the design of controls at a
            specific point in time, while a SOC 2 Type 2 report assesses both
            the design and operating effectiveness of controls over a period,
            typically 12 months. Type II reports provide greater assurance than
            Type I, which are often used initially to identify and prioritize
            relevant controls for future evaluations.</strong
          >
        </p>
      </div>
      <hr />
      <h2>Who needs a SOC 2 report?</h2>
      <p>
        Service organizations that handle customer data, especially those
        providing SaaS, cloud computing, and IT managed services, need to submit
        a SOC 2 report. This includes:
      </p>
      <ol>
        <li>
          <strong>SaaS Providers:</strong> Companies offering
          software-as-a-service solutions.
        </li>
        <li>
          <strong>Data Centers and IT Service Providers:</strong> Organizations
          that host or manage critical financial applications or data for their
          clients need to show that their systems are secure and that their
          controls are effective.
        </li>
        <li>
          <strong>Cloud Computing Providers:</strong> Companies offering cloud
          infrastructure or platform services.
        </li>
        <li>
          <strong>Managed IT Services:</strong> Providers of managed IT
          services.
        </li>
        <li>
          <strong>Healthcare Services:</strong> Organizations handling sensitive
          patient data.
        </li>
        <li>
          <strong>Financial Services:</strong> Firms managing financial data.
        </li>
      </ol>
      <hr />
      <h2>How much does it cost to conduct a SOC 2 audit?</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <p>
              The cost of a SOC 2 audit can vary widely depending on several
              factors:
            </p>
            <ol>
              <li>Size of your organization</li>
              <li>
                The complexity of your internal organisation and practices
              </li>
              <li>Scope of your SOC 1 Compliance</li>
              <li>Where your organization located</li>
              <li>Audit period</li>
            </ol>
            <p>
              When you hire an auditor, they will be able to give you an
              estimated cost for your audit.
            </p>
          </div>
          <div class="col-md-6">
            <img
              src="static\images\SOC2\cost_soc2.png"
              style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: auto;
              "
            />
          </div>
          <hr />
          <h2>Are SOC 2 reports mandatory?</h2>
          <p>
            SOC 2 reports are not legally required, but they are often requested
            by clients or partners as part of vendor risk management programs.
            Having a SOC 2 report demonstrates that your organization is
            committed to maintaining high standards of data security and
            privacy.
          </p>
          <hr />
          <h2>How long is a SOC 2 report valid?</h2>
          <p>
            SOC 2 reports are typically valid for
            <strong>12 months</strong> from the date of issuance. Organizations
            must undergo regular audits to maintain compliance and provide
            up-to-date assurances to clients and stakeholders.
          </p>
          <hr />
          <h2 style="text-align: center">
            Want to learn more about SOC1 and other related certifications?
          </h2>
          <div
            style="display: flex; justify-content: center; margin-bottom: 30px"
          >
            <div class="card mx-3" style="width: 18rem">
              <div class="card-header">Other SOC Certifications</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="{{ url_for('soc1') }}" class="card-link">SOC1</a>
                </li>
                <li class="list-group-item">
                  <a href="#" class="card-link">SOC3</a>
                </li>
                <li class="list-group-item">
                  <a href="#" class="card-link">Test</a>
                </li>
              </ul>
            </div>
            <div class="card mx-3" style="width: 18rem">
              <div class="card-header">Featured</div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">SOC1 vs SOC2</li>
                <li class="list-group-item">SOC1 vs SOC3</li>
                <li class="list-group-item">SOC1 vs SOC2 vs SOC3</li>
              </ul>
            </div>
          </div>
          <hr />
          <h2 style="text-align: center">
            Interested in seeing a checklist to achieve SOC 2 compliance?
          </h2>
          <h3 style="text-align: center; color: rgb(77, 77, 77)">
            Click below!
          </h3>
          <div style="display: flex; justify-content: center">
            <a
              href="{{ url_for('soc2_type1_checklist') }}"
              style="margin-right: 10px"
            >
              <button type="button" class="btn btn-primary btn-lg">
                SOC 2 Type 1 Checklist
              </button>
            </a>
            <a href="{{ url_for('soc2_type2_checklist') }}">
              <button type="button" class="btn btn-primary btn-lg">
                SOC 2 Type 2 Checklist
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
