{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h1>Checklist Summary</h1>
  <h1 class="display-1" style="color: #4c65f0">GDPR</h1>
  <img
    src="static\images\GDPR\GDPR_checklist.png"
    style="width: 55%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>How to achieve GDPR compliance</h2>
    <p class="lead">
      For many organizations, achieving GDPR compliance is crucial for
      safeguarding personal data and expanding their operations within the
      European Union. To comply with GDPR, you need to establish a robust and
      strategic data protection framework. We've created a comprehensive
      checklist to guide your GDPR implementation and compliance. This checklist
      includes the following steps:
    </p>
    <div class="d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Step</th>
            <th scope="col">Description</th>
            <th scope="col">Additional Steps & Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Awareness and Training</td>
            <td>
              <strong>Awareness: </strong>Ensure decision-makers and key
              personnel are aware of GDPR requirements.<br />
              <strong>Training: </strong>Provide GDPR-specific training to all
              employees and keep records.
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Information Audit</td>
            <td>
              <strong>Data Inventory: </strong>Document personal data, its
              source, and data sharing details.<br />
              <strong>Data Mapping: </strong>Create data flow diagrams to
              visualize data movement.
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Lawful Basis for Processing</td>
            <td>
              <strong>Identify Lawful Basis: </strong>Determine and document the
              lawful basis for each processing activity.<br />
              <strong>Communicate Basis: </strong>Include lawful basis in
              privacy notices.
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Data Subjects’ Rights</td>
            <td>
              <strong>Procedures: </strong>Implement and ensure procedures for
              handling data subjects' rights requests meet GDPR timescales.
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Consent</td>
            <td>
              <strong>Review Consent Mechanisms: </strong>Ensure consent is
              freely given, specific, informed, and unambiguous.<br />
              <strong>Record Keeping: </strong>Maintain records of consent and
              provide withdrawal mechanisms.
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Children’s Data</td>
            <td>
              <strong>Age Verification: </strong> Implement systems to verify
              age and obtain parental consent for children under 16.
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Data Breaches</td>
            <td>
              <strong>Detection and Response: </strong>Implement procedures to
              detect, report, and investigate breaches.<br />
              <strong>Notification: </strong>Notify authorities within 72 hours
              and affected individuals if necessary.
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Data Protection by Design and Default</td>
            <td>
              <strong>Integrate Data Protection: </strong>Embed data protection
              into business practices. <br /><strong>DPIAs: </strong>Data
              Protection Impact Assessments for high-risk activities.
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Data Protection Officers (DPO)</td>
            <td>
              <strong>Designation: </strong>Appoint a DPO if required and ensure
              they have resources, independence, and authority.
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Internal Policies and Procedures</td>
            <td>
              <strong>Review Policies:</strong> Regularly review and update
              internal data protection policies and procedures to ensure ongoing
              compliance. <br /><strong>Enforce Procedures:</strong> Ensure all
              policies are enforced and integrated into daily operations.
            </td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Third-party Contracts</td>
            <td>
              <strong>Review Contracts:</strong> Ensure third-party contracts
              include GDPR-compliant terms.<br />
              <strong>Due Diligence:</strong> Ensure third parties implement
              appropriate security measures.
            </td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>Privacy Notices</td>
            <td>
              <strong>Review and Update:</strong> Ensure privacy notices provide
              clear information on data processing activities.<br />
              <strong>Transparency:</strong> Include purposes, lawful bases,
              retention periods, rights, and data transfers.
            </td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>Security Measures</td>
            <td>
              <strong>Technical Measures:</strong> Implement encryption, access
              controls, and data anonymization.<br />
              <strong>Organizational Measures:</strong> Enforce policies,
              employee training, and regular audits.
            </td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>Data Minimization and Retention</td>
            <td>
              <strong>Data Minimization:</strong> Collect and process only
              necessary data. <br />
              <strong>Retention Policies:</strong>
              Establish, enforce, and regularly review data retention policies.
            </td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td>Record-Keeping and Documentation</td>
            <td>
              <strong>Records of Processing Activities:</strong> Maintain
              detailed records and ensure documentation is up-to-date and
              available for inspection.
            </td>
          </tr>

          <tr>
            <th scope="row">16</th>
            <td>Raise Awareness</td>
            <td>
              <strong>Holistic Approach:</strong>
              Involve all employees in GDPR compliance, raise awareness, and
              ensure third-party compliance.
            </td>
          </tr>
          <tr>
            <th scope="row">17</th>
            <td>Keep a Record of Data Processing Flows</td>
            <td>
              <strong>Data Flow Records:</strong>
              Track and regularly update records of data flows within your
              company.<br />
              <strong>Notify Corrections:</strong> Inform other companies if
              incorrect personal data is shared.
            </td>
          </tr>
          <tr>
            <th scope="row">18</th>
            <td>Review Current Privacy Notices</td>
            <td>
              <strong>Content Update:</strong>
              Update privacy policies to include data collection methods, lawful
              basis, usage, retention, and users' rights.<br />
              <strong>Cookie Policy:</strong>
              Maintain a current cookie policy using automated tools.
            </td>
          </tr>
          <tr>
            <th scope="row">19</th>
            <td>Check Your Rights for Individuals</td>
            <td>
              <strong>Review Procedures:</strong>
              Ensure procedures address individuals’ rights such as access,
              correction, portability, and deletion.<br />
              <strong>Practical Steps:</strong>
              Create response letters, update policies, and establish technical
              procedures.
            </td>
          </tr>
          <tr>
            <th scope="row">20</th>
            <td>Detect, Report, and Investigate Data Breaches</td>
            <td>
              <strong>Breach Procedures:</strong> Implement procedures to handle
              data breaches and notify authorities within 72 hours.
              <br /><strong>High-Risk Notifications:</strong> Inform affected
              individuals if necessary.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
