{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h1>Checklist Summary</h1>
  <h1 class="display-1" style="color: #4c65f0">ISO 27001</h1>
  <img src="static/images/roadmap.png" style="width: 60%; height: auto" />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>How to reach ISO 27001 compliance</h2>
    <p class="lead">
      For many organizations, obtaining ISO 27001 certification is a significant
      step toward expanding their business and entering new markets. To comply
      with ISO 27001, you must establish a strong and strategic information
      security management system (ISMS), which includes implementing data
      security best practices. We've created a comprehensive checklist to guide
      your ISO 27001 implementation and certification. This checklist includes
      the following steps:
    </p>
    <div class="d-flex justify-content-center">
      <ol>
        <li>
          Create a road map for your ISMS implementation and ISO 27001
          certification
        </li>
        <li>Determine the scope of your organization's ISMS</li>
        <li>Set up an ISMS team and assign roles</li>
        <li>Create an inventory of information assets</li>
        <li>Conduct a risk assessment</li>
        <li>Create a risk register</li>
        <li>Create a risk treatment plan</li>
        <li>Complete the Statement of Applicability Worksheet</li>
        <li>Implement ISMS policies and regularly assess risk</li>
        <li>Set up employee training and awareness programs</li>
        <li>Gather necessary documents and records</li>
        <li>Conduct an internal audit against ISO 27001 standards</li>
        <li>
          Conduct an external audit of your ISMS to obtain ISO 27001
          certification
        </li>
        <li>Address any violations.</li>
        <li>Conduct regular management reviews</li>
        <li>Prepare for subsequent ISO 27001 and surveillance audits</li>
        <li>Consider automating the ISO 27001 certification process</li>
      </ol>
    </div>
    <hr />
    <h1>hello</h1>
  </div>
</div>

{% endblock %}
