{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h1>Checklist Summary</h1>
  <h1 class="display-1" style="color: #4c65f0">ISO 27001</h1>
  <img src="static/images/roadmap.png" style="width: 60%; height: auto" />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>What is GDPR?</h2>
    <p class="lead">
      The GDPR is the result of the EU's comprehensive data protection reform.
      The strict privacy standards went into effect on May 25, 2018, to protect
      individuals' rights. This cybersecurity framework aims to protect all
      people's personal data in the European Union and complements other EU
      regulations such as the Digital Operational Resilience Act (DORA).
    </p>
    <p>
      The GDPR modernizes the 1950 European Convention on Human Rights for the
      digital era. Article 8 of the convention guarantees everyone's right to
      privacy in family life. The distinction between public and private life
      was clear in the analog era, but it is often unclear now. Customers cannot
      be confident that their private data, and thus their private lives, are
      being respected in the absence of a clear and enforced standard such as
      the GDPR.
    </p>
    <hr />
    <h2>Who Does the GDPR Apply To?</h2>
    <p>
      The GDPR applies to any organization that provides goods and services to
      people in the EU. This includes entities not based in the EU. If you run
      an online business, you never know for sure whether the customers you deal
      with are in the EU. As a result, all online businesses should become
      GDPR-compliant as a precaution. Personal data is divided into two
      categories: controllers and processors.
    </p>
    <h4>Data Controllers</h4>
    <p>
      According to the GDPR, a controller is any individual, public authority,
      agency, or other body that determines the purpose and processing of
      personal data. Controllers determine how personal data is processed. For
      example, a music school uses a digital screen to alert parents in the
      waiting room when each teacher is ready. The screen shows each child's
      name and the room number for their music lesson. The music school is
      designated as the "controller" of personal data because it determines how
      the notification system will process all of the data.
    </p>
    <h4>Data Processors</h4>
    <p>
      The GDPR defines processors as any individual or entity that processes
      personal data on behalf of a controller, without making decisions on data
      handling. For example, if a software company (the controller) hires a
      marketer (the processor) to send personalized emails using provided data,
      the software company sets the rules, and the marketer follows them.
      Despite following instructions, processors must still comply with GDPR
      since they handle personal data.
    </p>
  </div>
</div>

{% endblock %}
