{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h1>Comparing</h1>
  <h1 class="display-1" style="color: #4c65f0">SOC 1 vs. SOC 2</h1>
  <img
    src="static\images\SOCx\comp_soc1_soc2.png"
    style="width: 60%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>Overview of SOC Reports</h2>
    <p class="lead">
      The American Institute of Certified Public Accountants (AICPA) developed
      Service Organization Controls (SOC) reports to ensure businesses can
      confidently engage new vendors by verifying their data security and
      financial reporting practices. These reports are crucial for service
      organizations aiming to demonstrate their trustworthiness to clients.
    </p>
    SOC 1 and SOC 2 reports are commonly requested by buyers in North America to
    assess the reliability and security of their service providers.
    <hr />
    <h2>What’s the difference between a SOC 1 and a SOC 2?</h2>
    <p>
      The difference between a SOC 1 and a SOC 2 report lies in their focus: SOC
      1 centers on financial operations, while SOC 2 emphasizes information
      security.
    </p>
    <ul>
      <li>
        <strong>SOC 1 Report</strong>: This report details the controls your
        organization has in place to ensure accurate financial reporting and
        operations. It is primarily used by organizations whose services impact
        their clients' financial statements, providing assurance that their
        controls are designed and operating effectively for financial reporting.
      </li>
      <li>
        <strong>SOC 2 Report:</strong> This report addresses data security and
        is based on five Trust Service Criteria: security, availability,
        processing integrity, confidentiality, and privacy. While every SOC 2
        report evaluates security, the inclusion of the other four criteria
        depends on their relevance to your business. SOC 2 is essential for
        demonstrating that your information security practices are robust and
        can protect your customers' data.
      </li>
    </ul>
    <div class="alert alert-primary" role="alert">
      <strong
        >1 reports are most common for organizations influencing financial
        reports, whereas SOC 2 reports are crucial for those needing to prove
        the security and integrity of their data handling practices.</strong
      >
    </div>
    <div class="d-flex justify-content-center">
      <table class="table table-striped-columns table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="comp_style_header" style="color: purple">
              SOC1
            </th>
            <th scope="col" class="comp_style_header" style="color: #4c65f0">
              SOC2
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">What does it audit?</th>
            <td>Finaiicial reporting practices</td>
            <td>What policies you have inplace to protect customer data</td>
          </tr>
          <tr>
            <th scope="row">Who should get this certification?</th>
            <td>
              Organizations that impact their customer's financial reporting
            </td>
            <td>Any organization that deals with data service</td>
          </tr>
          <tr>
            <th scope="row">What it reports on?</th>
            <td>Controls and policies to keep accurate financial records</td>
            <td>Security controls in place to protect customer data</td>
          </tr>
          <tr>
            <th scope="row">Who Wants to see the certification?</th>
            <td>Customers & Stakeholders</td>
            <td>Customers & Stakeholders</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <h2>Do you need a SOC1 or SOC2 report?</h2>
    <ul>
      <li>
        <strong>SOC 1 Report:</strong> If your services affect your clients'
        financial operations, a SOC 1 report is likely required. For instance,
        organizations that process payments or handle financial transactions on
        behalf of their clients will need a SOC 1 report to ensure accurate
        financial reporting.
      </li>
      <li>
        <strong>SOC 2 Report:</strong> If you manage or interact with your
        customers' sensitive data, a SOC 2 report is necessary. This is
        especially common for cloud service providers, cybersecurity firms, and
        any organization responsible for safeguarding data. SOC 2 reports focus
        on information security and the Trust Service Criteria: security,
        availability, processing integrity, confidentiality, and privacy.
      </li>
    </ul>
    <div class="alert alert-primary" role="alert">
      <strong
        >Your clients will determine the type of SOC report they require.
        However, it is recommended not to wait for these requests. Plan ahead of
        time for a SOC audit to minimize time and effort. Consider your products
        and services to anticipate the type of SOC report required by your
        customers, ensuring timely and efficient delivery.</strong
      >
    </div>
  </div>
</div>

{% endblock %}
