{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h1>Comparing</h1>
  <h1 class="display-1" style="color: #4c65f0">SOC 1 vs. SOC 3</h1>
  <img
    src="static\images\SOCx\comp_soc1_soc3.png"
    style="width: 60%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>Overview of SOC Reports</h2>
    <p class="lead">
      SOC 1 and SOC 3 reports are commonly requested by buyers in North America
      to evaluate different aspects of their service providers' controls. SOC 1
      reports focus on internal controls related to financial reporting. Buyers
      use these reports to assess how a service organization’s controls impact
      their financial statements and compliance with accounting standards.
    </p>
    On the other hand, SOC 3 reports provide a summary of a service
    organization’s controls related to security, availability, and
    confidentiality. These reports are often used for public assurance and
    marketing purposes, offering a high-level overview that is suitable for a
    broader audience. <br />Each type of SOC report serves a distinct purpose,
    helping buyers ensure their service providers meet specific standards for
    financial integrity and data protection.
    <hr />
    <h2>What’s the difference between a SOC 1 and a SOC 3?</h2>
    <p>
      The key differences between SOC 1 and SOC 3 reports lie in their focus and
      intended use. Here’s a breakdown of each:
    </p>
    <ul>
      <li>
        <strong>SOC 1 Report</strong>: This report details the controls your
        organization has in place related to financial reporting. It is
        primarily used by organizations whose services impact their clients'
        financial statements. SOC 1 reports provide assurance that the controls
        are designed and operating effectively to support accurate financial
        reporting.
      </li>
      <li>
        <strong>SOC 3 Report:</strong> This report provides a summary of the
        controls related to security, availability, and confidentiality. SOC 3
        reports are designed for public distribution and are often used for
        marketing purposes. They offer a high-level overview of a service
        organization’s controls and are intended for a broader audience who need
        assurance on the effectiveness of controls without the detailed
        specifics found in SOC 2 reports.
      </li>
    </ul>
    <div class="alert alert-primary" role="alert">
      <strong
        >SOC 1 reports are primarily used to assess financial reporting
        controls, whereas SOC 3 reports offer a public assurance of a service
        organization’s controls over security, availability, and
        confidentiality.</strong
      >
    </div>
    <div class="d-flex justify-content-center">
      <table class="table table-striped-columns table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="comp_style_header" style="color: purple">
              SOC 1
            </th>
            <th scope="col" class="comp_style_header" style="color: #4c65f0">
              SOC 3
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">What does it audit?</th>
            <td>Internal controls related to financial reporting</td>
            <td>
              Controls related to security, availability, and confidentiality
            </td>
          </tr>
          <tr>
            <th scope="row">Who should get this certification?</th>
            <td>
              Organizations whose services impact their clients' financial
              statements
            </td>
            <td>
              Organizations seeking to demonstrate high-level controls to a
              broad audience
            </td>
          </tr>
          <tr>
            <th scope="row">What it reports on?</th>
            <td>
              Controls and processes affecting financial statement accuracy
            </td>
            <td>
              A summary of controls related to security, availability, and
              confidentiality
            </td>
          </tr>
          <tr>
            <th scope="row">Who Wants to see the certification?</th>
            <td>Clients and stakeholders focused on financial reporting</td>
            <td>
              General public and clients seeking assurance on data protection
              and operational controls
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <h2>Do you need a SOC 1 or SOC 3 report?</h2>
    <ul>
      <li>
        <strong>SOC 1 Report:</strong> If your services impact your clients'
        financial operations, a SOC 1 report is likely required. For example,
        organizations that process payments or handle financial transactions on
        behalf of their clients will need a SOC 1 report to ensure accurate
        financial reporting and demonstrate effective controls related to
        financial transactions.
      </li>
      <li>
        <strong>SOC 3 Report:</strong> If you want to provide a high-level
        assurance of your controls related to security, availability, and
        confidentiality to a broad audience, a SOC 3 report is appropriate. This
        type of report is often used for marketing purposes and public
        assurance, offering a summary of your controls without the detailed
        specifics found in SOC 2 reports.
      </li>
    </ul>
    <div class="alert alert-primary" role="alert">
      <strong
        >Your clients or stakeholders will determine the type of SOC report they
        require. However, it is recommended not to wait for these requests. Plan
        ahead for a SOC audit to minimize time and effort. Consider your
        organization’s needs and objectives to anticipate the type of SOC report
        that will best serve your clients and support your business
        goals.</strong
      >
    </div>
  </div>
</div>

{% endblock %}
