{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h1>Checklist Summary</h1>
  <h1 class="display-1" style="color: #4c65f0">SOC 1 Type 2</h1>
  <img
    src="static\images\SOC1\soc1_t2_checklist.png"
    style="width: 60%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>How to reach SOC 1 Type 2 compliance</h2>
    <p class="lead">
      For many organizations, achieving SOC 1 Type 2 compliance is a critical
      milestone toward ensuring the reliability and integrity of their financial
      reporting over a specified period. To comply with SOC 1 Type 2, you need
      to establish and document robust internal controls over financial
      reporting, demonstrating that these controls are not only suitably
      designed but also <strong>operating effectively over time</strong>. We've
      developed a detailed checklist to guide you through your SOC 1 Type 2
      implementation and compliance process. This checklist includes the
      following steps:
    </p>
    <div class="d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Step</th>
            <th scope="col">Description</th>
            <th scope="col">Additional Steps & Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Scope Definition</td>
            <td>
              Extend the scope from Type 1 to include 24/7 monitoring of
              controls.
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Organization of Project Team</td>
            <td>
              Same as Type 1 with the addition of resources for around-the-clock
              monitoring and assessment.
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Documentation and Risk Assessment</td>
            <td>
              Update documentation and perform risk assessments continuously
              throughout the audit period.
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Develop and Implement Controls</td>
            <td>
              Design and ensure controls are effectively operating over the
              audit period.
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Continuous Evidence Collection</td>
            <td>
              Collect and organize evidence of control effectiveness throughout
              the audit period.
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Regular Internal Review</td>
            <td>
              Perform periodic internal assessments to test and adjust controls
              as needed.
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Ongoing Communication with the Auditor</td>
            <td>
              Maintain consistent communication with the auditor during interim
              testing.
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Resolving Interim Findings</td>
            <td>
              Act on interim testing results to resolve issues before the audit
              period ends.
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Completion of Audit and Report</td>
            <td>
              Collaborate with the auditor to finalize the review of control
              effectiveness.<br />
              Review and issue the final Type 2 report, ensuring it accurately
              represents control operations.
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Post-Audit Activities</td>
            <td>
              Implement recommended modifications to improve control
              effectiveness.<br />
              Prepare for long-term compliance and the next audit.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
