{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h1>Checklist Summary</h1>
  <h1 class="display-1" style="color: #4c65f0">SOC 2 Type 2</h1>
  <img
    src="static/images/SOC2/soc2_checklist.png"
    style="width: 60%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>How to reach SOC 2 Type 2 compliance</h2>
    <p class="lead">
      For many organizations, achieving SOC 2 Type 2 compliance is a critical
      milestone towards ensuring the reliability and integrity of their
      information security. To comply with SOC 2 Type 2, you need to establish
      and document robust internal controls over data protection, demonstrating
      that these controls are suitably designed to meet the specified objectives
      over a period of time. We've developed a detailed checklist to guide you
      through your SOC 2 Type 2 implementation and compliance process. This
      checklist includes the following steps:
    </p>
    <div class="d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Step</th>
            <th scope="col">Description</th>
            <th scope="col">Additional Steps & Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Preliminary Steps</td>
            <td>
              - Identify systems and processes under the SOC 2 audit scope.<br />
              - Determine applicability in the criteria (Security, Availability,
              Processing Integrity, Confidentiality, Privacy).<br />
              - Designate a project manager and build a cross-functional team of
              IT, security, compliance, and operational resources.
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Planning and Preparation</td>
            <td>
              - Perform a risk identification and assessment of the scoped
              environment.<br />
              - Address gaps detected from the SOC 2 Type 1 audit previously.<br />
              - Develop and refine policies and procedures.<br />
              - Implement and optimize necessary controls.
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Training and Awareness</td>
            <td>
              - Ensure extensive training on safety practices and SOC 2
              compliance requirements.<br />
              - Update training materials and sessions with changes in the
              policies and procedures.
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Evidence Gathering</td>
            <td>
              - Gather evidence regarding the operational effectiveness of
              controls over the audit period.<br />
              - Ensure evidence is readily available and in an easily reviewable
              form for the auditor.
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Control Testing</td>
            <td>
              - Periodically perform internal audits to determine operational
              effectiveness of controls.<br />
              - Use the findings to make necessary adjustments before the
              external audit begins.
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Choose an Auditor</td>
            <td>
              - Select an auditor with the right experience with SOC 2 Type 2
              audits.<br />
              - Agree on timelines with the auditor covering the required review
              period (6-12 months).
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Auditing</td>
            <td>
              - Keep communicating with your auditor on a weekly basis.<br />
              - Allow interim reviews if necessary to ensure understanding and
              alignment of the control environments.
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Interim Findings Review</td>
            <td>
              - Discuss and take action on any interim feedback or findings from
              the auditor.<br />
              - Outline action plans for any issues that are being tracked.
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Final Audit and Report</td>
            <td>
              - Help the auditor complete control audit for the period
              chosen.<br />
              - Furnish promptly the auditor with any other information needed
              to finalize the assessment of controls.<br />
              - Perform a thorough review of final reports from the audit and
              distribute to appropriate stakeholders.
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Ongoing Compliance Program</td>
            <td>
              - Implement the decisions taken by the auditor on the suggestions
              placed in the audit report.<br />
              - Adopt the process of ongoing control monitoring and periodic
              control review.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
