{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h1>Checklist Summary</h1>
  <h1 class="display-1" style="color: #4c65f0">SOC 2 Type 1</h1>
  <img
    src="static\images\SOC2\soc2_type1_checklist.png"
    style="width: 50%; height: auto"
  />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>How to reach SOC 2 Type 1 compliance</h2>
    <p class="lead">
      For many organizations, achieving SOC 2 Type 1 compliance is a critical
      milestone toward ensuring the security, availability, processing
      integrity, confidentiality, and privacy of their systems and data. To
      comply with SOC 2 Type 1, you need to establish and document robust
      controls that demonstrate your commitment to these Trust Service Criteria
      at a specific point in time. We've developed a detailed checklist to guide
      you through your SOC 2 Type 1 implementation and compliance process. This
      checklist includes the following steps:
    </p>
    <div class="d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Step</th>
            <th scope="col">Description</th>
            <th scope="col">Additional Steps & Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Planning Stage</td>
            <td>
              Define systems and processes to cover and choose relevant Trust
              Service Criteria (Security, Availability, Processing Integrity,
              Confidentiality, Privacy).<br />
              Form a project team with a project manager and key members from
              IT, security, compliance, and operations.
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Preparation and Planning</td>
            <td>
              Conduct a risk assessment to identify existing controls, gaps, and
              high-risk areas.<br />
              Document and communicate relevant policies and procedures;
              implement necessary security controls and ensure data backup,
              disaster recovery, and business continuity plans.
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Employee Training and Awareness</td>
            <td>
              Conduct security awareness training sessions and ensure all
              employees understand SOC 2 compliance requirements.
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Gather Evidence</td>
            <td>
              Collect evidence of implemented controls and prepare necessary
              documents for the auditor (e.g., system descriptions, network
              diagrams, change management records).
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Internal Control Testing</td>
            <td>
              Perform self-testing and self-evaluation of controls; adjust
              controls based on internal audit results.
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Select an Auditor</td>
            <td>
              Research and select an experienced SOC 2 auditor based on
              expertise, cost, and fit.
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>The Audit</td>
            <td>
              Meet with the auditor to define scope, timeline, and expectations;
              provide necessary documentation and access during the audit.
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Preliminary Findings Review</td>
            <td>
              Review initial findings with the auditor, address any issues, and
              develop a remediation plan.
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Final Report</td>
            <td>
              Obtain and review the final report.<br />
              Share it with stakeholders and discuss findings.
            </td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Post-Audit Actions</td>
            <td>
              Remediate any findings and recommendations; continuously review
              and improve controls.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
