{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<div class="container text-center" style="margin-top: 100px">
  <h1>Checklist Summary</h1>
  <h1 class="display-1" style="color: #4c65f0">SOC 1 Type 2</h1>
  <img src="static/images/roadmap.png" style="width: 60%; height: auto" />
  <hr />
</div>

<div class="container">
  <div class="col">
    <h2>How to reach SOC 1 Type 1 compliance</h2>
    <p class="lead">
      For many organizations, achieving SOC 1 Type 2 compliance is a critical
      milestone toward ensuring the reliability and integrity of their financial
      reporting over a specified period. To comply with SOC 1 Type 2, you need
      to establish and document robust internal controls over financial
      reporting, demonstrating that these controls are not only suitably
      designed but also <strong>operating effectively over time</strong>. We've
      developed a detailed checklist to guide you through your SOC 1 Type 2
      implementation and compliance process. This checklist includes the
      following steps:
    </p>
    <div class="d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Step #</th>
            <th scope="col">Description</th>
            <th scope="col">Additional Steps & Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Scope Definition</td>
            <td>
              <p>
                Identify and document services and controls relevant to
                financial reporting.
              </p>
              <p>
                Identify classes of transaction, types of systems involved, and
                the applications applicable.
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Organization of Project Team</td>
            <td>
              <p>Assign a project manager to oversee the SOC 1 Type 1 audit.</p>
              <p>
                Constitute a team with IT, finance, compliance, and operations
                on board.
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Documentation and Risk Assessment</td>
            <td>
              <p>Document all relevant processes, systems, and controls.</p>
              <p>
                Grant a risk assessment, noting possible jeopardy to financial
                reporting controls.
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Develop and Implement Controls</td>
            <td>
              <p>Design and build controls addressing identified risks.</p>
              <p>
                Review to verify prevention of misstatements in the financial
                statements.
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Document Preparation</td>
            <td>
              <p>Gather supporting documentation.</p>
              <p>Prepare good and accessible documentation for the auditor.</p>
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Look for an Auditor</td>
            <td>
              <p>Select a reputable Auditing firm or CPA for SOC 1 reports.</p>
              <p>
                Form a mutual understanding of the scope and period of
                operations.
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>The Period of Engagement</td>
            <td>
              <p>
                Ensure that the auditor understands the control environment.
              </p>
              <p>Allow access to relevant documents and personnel.</p>
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Results Check and Adjust</td>
            <td>
              <p>Review the preliminary results with auditor.</p>
              <p>
                All the discrepancies, misunderstandings, errors must be
                resolved before final report.
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Sharing Final Report</td>
            <td>
              <p>Review the Type 1 report for accuracy and completeness.</p>
              <p>
                Distribute the final report to affected stakeholders who rely on
                the proper implementation of controls in financial reporting.
                Ensure stakeholders understand the report and its implications.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h1>hello</h1>
  </div>
</div>

{% endblock %}
