{% extends "layout.html" %} {% block title %}Resources{% endblock %} {% block
content %}

<main class="container my-md">
  <section class="intro text-center mb-5">
    <h1>Understanding Certifications</h1>
    <h2>
      Understanding the most popular cyber certifications - site created by
      Jonathan, Petar, Krishna
    </h2>
    <h6 class="text-body-secondary">Capstone 2024</h6>
  </section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6 centered-content">
        <div style="text-align: center;">
          <h1>Why are certifications important?</h1>
          <p>
            Certifications are important because they demonstrate an organization's compliance to industry standards and best practices, which increases credibility and trust with clients and stakeholders. They contribute to meeting regulatory and compliance requirements, improving risk management, and generating new business opportunities. 
          </p>
        </div>
      </div>
      <div class="col-6">
        <img
          src="static\images\certificate.png"
          alt="Descriptive Alt Text"
          class="img-fluid"
        />
      </div>
    </div>
  </div>

  <div class="container d-flex flex-column flex-fill">
    <h2 class="text-center">Most Popular Certifications</h2>
    <section class="resources row">
      <!-- Card 1 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="static/images/cert_logo/soc1.png"
            class="card-img-top"
            alt="soc1_logo"
          />
          <div class="card-body text-center">
            <h5 class="card-title">SOC 1</h5>
            <p class="card-text">
              Click here to learn all about SOC 1 Certification
            </p>
            <a href="{{ url_for('soc1') }}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="static/images/cert_logo/soc2.png"
            class="card-img-top"
            alt="soc2_logo"
          />
          <div class="card-body text-center">
            <h5 class="card-title">SOC 2</h5>
            <p class="card-text">
              Click here to learn all about SOC 2 Certification
            </p>
            <a href="{{ url_for('soc2') }}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="static/images/cert_logo/iso_127001.png"
            class="card-img-top"
            alt="iso_1270001_logo"
          />
          <div class="card-body text-center">
            <h5 class="card-title">ISO 27001</h5>
            <p class="card-text">
              Click here learn all about ISO 27001 Certification
            </p>
            <a href="{{ url_for('ISO27001') }}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <div>
        <h2 class="d-flex justify-content-center">Browse our other certifications</h2>
      </div>
          <div class="carousel-section col-lg-12">
            <!-- Adjust the grid sizing as needed -->
            <div
              id="carouselExample"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="static/images/cert_logo/PCI_DSS_transparent.png"
                    class="d-block w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <button
                      type="button"
                      class="btn btn-primary"
                      style="
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                      "
                    >
                      Click here to learn more about PCI DSS
                    </button>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="static/images/cert_logo/GDPR_transparent.png"
                    class="d-block w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <a href="{{ url_for('GDPR') }}" style="text-decoration: none;">
                      <button
                        type="button"
                        class="btn btn-primary"
                        style="
                          position: absolute;
                          bottom: 20px;
                          left: 50%;
                          transform: translateX(-50%);
                        "
                      >
                      Click here to learn more about GDPR
                      </button>
                    </a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img
                    src="static/images/cert_logo/GDPR_transparent.png"
                    class="d-block w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <button
                      type="button"
                      class="btn btn-primary"
                      style="
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                      "
                    >
                      Click here to learn more about GRC
                    </button>
                  </div>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>

{% endblock %}
